:root {
  --primary-color: #6c63ff;
  --secondary-color: #fff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero h1,
.hero h2,
.hero p {
  text-align: center;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero p {
  font-size: 48px;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
  opacity: 0.7;
}

.hero {
  padding: 160px 20px 30px;
  margin-bottom: 47px;
  background-color: #f9f7fe;
}

.about-section-content {
  margin: 30px 70px 30px 0;
}

.about-section {
  padding: 160px 20px 0;
}

.homepage-links {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.basic-link {
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  transition: all 200ms ease-in-out;
}

.primary-link {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.primary-link:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary-link:hover {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-section h1 {
  font-size: 56px;
}

.about-section h2 {
  font-size: 18px;
}

#contact a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 28px;
  color: var(--primary-color);
  cursor: pointer;
}

.img-bg-day {
  background-color: rgb(95, 151, 225, 0.1);
}

.img-bg-night {
  background-color: rgb(10, 20, 38, 0.1);
}

.img-bg-nature {
  background-color: #f5f2fe;
  height: 100%;
}

@media (max-width: 992px) {
  .about-section {
    text-align: center;
    padding: 70px 20px 0;
  }

  .about-section-content {
    margin: 20px 0 40px 0;
  }
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero {
    padding: 90px 10px 0;
  }

  .homepage-links {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  h2,
  p {
    text-align: center;
  }

  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 22px;
    opacity: 0.7;
  }

  .hero p {
    text-align: center;
    font-size: 28px;
  }
}
