:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
}

/*typography*/

.hero h1,
.hero h2,
.hero p {
  text-align: center;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.hero p {
  font-size: 48px;
  font-weight: 700;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
  opacity: 0.7;
}

.hero {
  padding: 80px 20px 30px;
  margin-bottom: 47px;
  background-color: var(--secondary-color);
}

.content {
  margin: 30px 0;
}

.content-container {
  padding: 100px 20px 0;
}

/*---- grid -----*/

.content-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

/* images */

.image-box {
  position: relative;
}

.image-box,
.img-bg {
  border-radius: 4px;
  box-shadow: 0 0 10px 0px #bdbdbd;
}

.image-box .image-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  display: none;
}

.image-box:hover .image-text {
  display: block;
  cursor: pointer;
}

.image-box:hover .image {
  opacity: 0.8;
}

/* links */

.homepage-links {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.basic-link {
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 15px;
  transition: all 200ms ease-in-out;
}

.primary-link {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.primary-link:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary-link:hover {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

#contact a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 28px;
  color: var(--primary-color);
  cursor: pointer;
}

.image-link {
  text-decoration: none;
  color: #000;
}

.image-link:hover {
  color: var(--primary-color);
}

/*content*/

.content h1 {
  font-size: 56px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
  line-height: 2;
}

/*footer*/

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 40px 120px;
  margin-bottom: 80px;
  border-radius: 20px;
}

footer h3 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin-bottom: 15px;
}

footer p {
  font-size: 18px;
}

footer p.reference {
  font-size: 14px;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  padding: 10px 15px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* media queries */

@media (max-width: 992px) {
  .content-container {
    text-align: center;
    padding: 70px 20px 0;
  }

  .content {
    margin: 20px 0 40px 0;
  }

  footer .contact-box {
    padding: 20px 60px;
  }
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .hero h2 {
    font-size: 32px;
  }

  .homepage-links {
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  h2,
  p {
    text-align: center;
  }

  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 22px;
    opacity: 0.7;
  }

  .hero p {
    text-align: center;
    font-size: 28px;
  }

  .content h1 {
    font-size: 42px;
  }

  .content h3 {
    font-size: 18px;
  }

  .content p {
    font-size: 14px;
    line-height: 1.5;
  }

  .content-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 80px 20px 0px;
    margin-bottom: 20px;
  }

  .hero h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 16px;
    opacity: 0.7;
  }

  .hero p {
    text-align: center;
    font-size: 18px;
  }

  .basic-link {
    font-size: 14px;
    padding: 10px 10px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .content h1 {
    font-size: 36px;
  }

  footer {
    margin: 0 0 10px 0;
  }

  footer .email-link {
    font-size: 18px;
  }
}
